{% extends "components/layout.html.twig" %}

{% block title %}Expennies | Reset Password
{% endblock %}

{% block content %}
	<div class="flex flex-col h-full justify-center items-center">
		<h2 class="text-4xl mb-5 font-extrabold text-blue-700">Reset Password</h2>
		<form method="POST" action="{{ url_for('password-update', { 'token': token }) }}" class="w-full flex flex-col max-w-sm px-5">
			{% include "components/csrfFields.html.twig" %}

			<div class="mb-5">
				<label for="password" class="{{ errors.password ? 'is-invalid-label' : 'text-gray-900 dark:text-white' }} block mb-2 text-sm font-medium">Your new password</label>
				<input type="password" name="password" id="password" class="{{ errors.password ? 'is-invalid-input' : 'bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' }} text-sm rounded-lg block w-full p-2.5" required/>
				<strong class="text-red-500 text-xs mt-4">{{ errors.password | first }}</strong>
			</div>
			<div class="mb-5">
				<label for="confirm password" class="{{ errors.passwordConfirmation ? 'is-invalid-label' : 'text-gray-900 dark:text-white' }} block mb-2 text-sm font-medium">Confirm your new password</label>
				<input type="password" name="passwordConfirmation" id="password-confirmation" class="{{ errors.passwordConfirmation ? 'is-invalid-input' : 'bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' }} text-sm rounded-lg block w-full p-2.5" required/>
				<strong class="text-red-500 text-xs mt-4">{{ errors.passwordConfirmation | first }}</strong>
			</div>
			<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update</button>
			<div class="flex justify-center mt-5">
				<p>Back to
					<a href="{{ url_for('sign-in') }}" class="underline underline-offset-4 text-blue-600">Sign In</a>
				</p>
			</div>
		</form>
	</div>
{% endblock %}
